/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

/* common */
:root{
    --border:1px solid white;
    /* colors */
    --grey:#222222;
    --lightgrey:#4E4E4E;
    --green:#4CCA00;
}
body{
    background-color: black;
    color: #fff;
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;  
    
}

li{
    list-style-type: none;
}

/* gallery layout */

.wrapper{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    position: relative;
    align-items: center;
    gap:3vh;
}

.gallery{
    height: 80%;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    row-gap: 0.7rem;
    margin-top: 8vh;

    
   
}

.col{
    position: relative;
    width: calc(100%/7 - 0.3rem);
    height: 15vh;
   
}

.col img{
    max-height: 100%;
    min-height: 100%;
    min-width: 100%;
}

.col>span{
    position: absolute;
    font-size: 0.8rem;
    bottom: 3px;
    background-color: #1211117f;
    width: 45%;
    height: 1.5rem;
    line-height: 1.5rem;
}

/* user interface bar layout and styling */
.bar-interface{
    background-color: var(--grey) ;
    width: 100%;
    height: 20%;
   
}

.btn{
    display: inline-block;
    background-color: var(--lightgrey);
    line-height: 4vh;
    padding: 0 .5rem;
    border-radius: 10px;
}

.up-btns{
    position: absolute;
    top: 5px;
    right: 5px;
}
.bar-interface{
    display: flex;
    justify-content: space-between;

}
.bar-layout{
    height: 100%;

}

.right , 
.left {
    display: flex;
    width: 20%;

}

.center{
    display: flex;
    justify-content: center;
    width: 60%;
}
/* icons layout and styling */
.icon-flex{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 80px;
    
}
.icon-flex>div{
    text-align: center;
}
.icon-flex div>i{
    display: block;
    font-size: 1.4rem;
    
}

.icon-flex>i{
    font-size: 0.7rem;
    margin-left: 0.3rem;
}

.icon-flex span{
    font-size: .9rem;
}

#green{
    color: var(--green)
}

.end-meeting{
    background-color: var(--lightgrey);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    min-width: 35%;
    height: 100%;
    color: red;
    cursor: pointer;

}

.right{
    justify-content: flex-end;
    
}


/* responsivness */
.icon-flex:hover{
    background-color: var(--lightgrey);
    border-radius: 15px;
    cursor: pointer;
}

.btn:hover{
    cursor: pointer;
}

.col:hover{
    cursor: pointer;
}
    

